@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(3, 250, 147);
}
